## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
import time
from datetime import datetime
import os
import sys
sys.path.append("C:\\Users\\c-hol\\Desktop\\Bootcamp")
from api_keys import G_key

# Configure gmaps API key
gmaps.configure(api_key=G_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Emerald,AU,82.35,overcast clouds,-23.5333,148.1667,The Irish Village
1,28,Vaini,TO,87.96,volcanic ash,-21.2000,-175.2000,Keleti Beach Resort
2,48,Avarua,CK,80.65,moderate rain,-21.2078,-159.7750,Paradise Inn
3,49,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
4,58,Katubao,PH,83.01,overcast clouds,5.8892,124.8294,IML Ecopark

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd> and <dd>{Max Temp}°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


fig

Figure(layout=FigureLayout(height='420px'))

In [4]:

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

        Lat       Lng
0  -23.5333  148.1667
1  -21.2000 -175.2000
2  -21.2078 -159.7750
3    3.0707  172.7902
4    5.8892  124.8294
..      ...       ...
77 -39.0333  -67.5833
78  21.2833  -89.6667
79  -8.1030  156.8419
80 -22.2763  166.4572
81  -7.7479  112.0132

[82 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "Byron Bay"] 
vacation_end = vacation_df.loc[vacation_df.City == "Byron Bay"] 
vacation_stop1 = vacation_df.loc[vacation_df.City == "Hervey Bay"]
vacation_stop2 = vacation_df.loc[vacation_df.City == "Yeppoon"]
vacation_stop3 = vacation_df.loc[vacation_df.City == "Emerald"]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
63,520,Byron Bay,AU,80.19,scattered clouds,-28.65,153.6167,Backpackers Inn

In [7]:
vacation_stops = vacation_df.loc[[28, 48, 66, 49], ["City", "Lat", "Lng"]] 
vacation_stops

          City      Lat       Lng
28     Samarai -10.6167  150.6667
48      Madang  -5.2246  145.7966
66  Popondetta  -8.7537  148.2534
49      Sorong  -0.8833  131.2500

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
                           
start

array([-28.65, 153.6167], dtype=object)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()

vacation_itenerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itenerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,520,Byron Bay,AU,80.19,scattered clouds,-28.6500,153.6167,Backpackers Inn
1,331,Hervey Bay,AU,80.71,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
2,574,Yeppoon,AU,80.38,overcast clouds,-23.1333,150.7333,Villa Mar Colina
3,4,Emerald,AU,82.35,overcast clouds,-23.5333,148.1667,The Irish Village

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd> and <dd>{Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))